generation:
  temperature: 0.7
  top_p: 1
  with_tools: true
default_model: openai/gpt-4o
default_system_message: "default"
contexts:
  - history
  - pwd
  - shell
history_context_options:
  size: 0
  all_panes: false
system_messages:
  default: "you are a terminal assistant. your task is to assist the user with terminal commands, system administration, and shell scripting. provide help for common command-line tools and tasks when necessary, and always answers concisely."
  empty: ""
providers:
  openai:
    base_url: ''
    api_key: ''
  mistral:
    base_url: ''
    api_key: ''
  gemini:
    base_url: ''
    api_key: ''
  ollama:
    base_url: http://localhost:11434
    api_key: ''
